* {
    box-sizing :border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: white;
}
#pingpong {
    opacity: 1;
}
header {
    background-color:grey;
    text-align:right;
    margin-top: 5pt;
    height: 3em;
}
li {
    display:inline;
    margin-right:30pt;
    font-family: fantasy;
    overflow: hidden;
    font-size: 20pt;
}
.container{
display:flex;
flex-direction: row;  
}



.LoremIpsum1 {
    order:1;
    flex:2;
}
.LoremIpsum2 {
    order:4;
    flex:2;
}
.LoremIpsum3 {
    order:5;
    flex:2;
}
.lokki1 {
    order:2;
    flex:1;
}
.lokki2 {
    order:3;
    flex:1;
}
.lokki3 {
    order:6;
    flex:1;
}