body {
    background-image: url(../Kuvat/Omatyö_Kuvat/STATICTAUSTA.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 2000px 1000px;
}

.kuvat1 {
    width: 700px;
    height: 540px;
    box-shadow: 3px 3px 6px;
}

.galleria1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.galleriakuvat {
    width: 300px;
    height: 300px;
    margin-left: 15em;
    margin-top: 5em;
    margin-bottom: 10em;
    box-shadow: 3px 3px 2px;
    z-index: 4;
}

.galleriakuvatfix1 {
    width: 300px;
    height: 300px;
    margin-left: 14.7em;
    margin-bottom: 10em;
    box-shadow: 3px 3px 2px;
    z-index: 4;
}

.galleriakuvatfix2 {
    width: 300px;
    height: 300px;
    margin-left: 14.7em;
    margin-bottom: 10em;
    box-shadow: 3px 3px 2px;
    z-index: 4;
}

footer {
    background-color: darkolivegreen;
    height: 20em;
    opacity: 0.9;
}


.paketit {
    display: flex;
    margin-left: 12em;
    margin-top: 5em;
}

.karttakuva {
    margin-left: 6em;
}

.esittelyaiheesta {
    display: flex;
    margin-left: 12em;
    margin-top: 6em;
}

.text {
    width: 750px;
    height: 500px;
}

.esittelykuva {
    margin-left: 7.2em;
    border-radius: 10px;
}

p {
    font-size: 14pt;
    color: whitesmoke;
    font-family: 'Segoe UI'
}

li {
    color: whitesmoke;
    font-size: 12pt;
    font-family: 'Segoe UI';

}

.shade {
    height: 540px;
    width: 1000px;
    background-color: darkolivegreen;
    opacity: 0.5;
    position: absolute;
    z-index: -3;
    border-radius: 10px;
    box-shadow: 10px 10px 4px;
}

.navi {
    display: inline;
    float: right;
    font-size: 18pt;
    margin-top: 0.9em;
    padding-right: 31px;
}

.navi a{
    text-decoration: none;
    color: wheat;
}

.navbar {
    margin-top: 1em;
    height: 80px;
    width:1840px;
    background: darkolivegreen;
    overflow: hidden;
    opacity: 0.9;
}

.navi a:hover{
    text-decoration: underline;
    color: wheat;
}

.logo {
    height: 120px;
    width: 120px;
    position: absolute;
    bottom: 88%;
    left: 5%;
}

.info {
    color: whitesmoke;
    font-size: 14pt;
    margin-bottom: 10em;
    margin-left: 2em;
}
.info1 {
    color: whitesmoke;
    font-size: 14pt;
    margin-left: 2em;
}